body {
    display: flex;
    flex-direction: column;
    background-color: #b3cbd9;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Changa One', cursive;
  font-size: 50px;
  color: hsla(356, 100%, 38%, 1);
  letter-spacing: 5px;
  text-shadow: 3px 3px hsla(0, 0%, 95%, 1);
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 50px;
  margin: 0 150px;
}

#lenguage-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  margin: 12.5%;
  /* padding: 15px 25%; */
  gap: 80px 33.33%;
}

.button-lenguage {
    width: 300px;
    padding: 10px;
    font-size: 60px;
    font-family: 'Anybody', cursive;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 6px;
}

.button-lenguage:hover {

    box-shadow: 0px 0px;
    background-color: #C0D6DF;
    cursor: pointer;
}

.button-lenguage:active {
    margin-top: 24px;
    margin-bottom: 16px;
    color: #ffffff;
}

.signin-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 6.25% 25%;
}

.signin-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

